h2 {
	text-align: center !important;
}

.cell {
	border: 2px solid black;
	height: 210px;
	transition: background 0.5s;
}

.closed {
	background-color: #08b26b !important;
	transition: background 0.5s;	
}

.opened {}

.done {
	background-color: #ffffff;
}

.done:hover {
	background-color: #ffffff;
}

#board {
	margin-top: 2.5%;
}
