h2 {
	text-align: center !important;
}

.cell {
	border: 2px solid black;
	height: 210px;
	transition: background 0.5s;
}

.closed {
	background-color: #08b26b !important;
}

.opened {
	transition: background 0.5s;
}

/*.closed:hover {
	background-color: #02e285;
}*/

.done {
	background-color: #ffffff;
}

.done:hover {
	background-color: #ffffff;
}
