h2 {
	text-align: center !important;
}

.col-md-3 {
	border: 2px solid black;
	height: 210px;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: gray;
}

.brown {
	background-color: brown;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

.purple {
	background-color: purple;
}

.closed {
	background-color: #08b26b;
}

.closed:hover {
	background-color: #02e285;
}

.done {
	background-color: #ffffff;
}

.done:hover {
	background-color: #ffffff;
}